<div class="sg-nav-wrap open-sans">
    <span class="sg-nav__close js-sg-nav-toggle">Close</span>
    <nav class="sg-nav">
    {{#if global.sections}}
        <ul class="sg-nav__level1">
        {{#each global.sections}}
            <li>
            {{#if link}}
                <a href="{{link}}" class="sg-nav__level1-title open-sans--semibold">{{name}}</a>
            {{else}}
                <span class="sg-nav__level1-title open-sans--semibold">{{name}}</span>
            {{/if}}
            {{#if modules}}
                <ul class="sg-nav__level2">
                {{#each modules}}
                    <li><a class="sg-link" href="{{link}}">{{name}}</a></li>
                {{/each}}
                </ul>
            {{/if}}
            </li>
        {{/each}}
        </ul>
    {{/if}}
    </nav>
</div>
