{{#extend "layout"}}

    {{#content "body"}}
        <div class="sg-block js-sg-block module-is-collapsed">
            <div class="sg-block__header">
                <h2 class="sg-block__title open-sans open-sans--semibold">Display Templates</h2>
                <span class="sg-block__expand-toggle open-sans js-sg-block__expand-toggle">
                    <span class="show-if-collapsed">Show</span>
                    <span class="show-if-expanded">Hide</span>
                    Notes
                </span>
            </div>
            <div class="sg-block__content cf">
                <ul class="sg-block__list">
                {{#each library.displayTemplates}}
                    <li>
                        <h3 class="sg-block__header2 open-sans open-sans--semibold">
                            <a href="{{link}}" target="_blank">{{name}}</a>
                        </h3>
                        <div class="sg-block__more is-collapsed js-sg-block__more">
                            <div class="sg-block__notes open-sans">
{{#markdown}}{{notes}}{{/markdown}}
                            </div>
                            {{#if modules.microElements}}
                            <h4 class="sg-block__header3 open-sans--semibold">Micro Elements:</h4>
                            <ul class="sg-block__module-list open-sans">
                            {{#each modules.microElements}}
                                <li><a href="{{link}}">{{name}}</a></li>
                            {{/each}}
                            </ul>
                            {{/if}}
                            {{#if modules.macroElements}}
                            <h4 class="sg-block__header3 open-sans--semibold">Macro Elements:</h4>
                            <ul class="sg-block__module-list open-sans">
                            {{#each modules.macroElements}}
                                <li><a href="{{link}}">{{name}}</a></li>
                            {{/each}}
                            </ul>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
    {{/content}}

{{/extend}}