<div class="sg-nav-wrap open-sans">
    <span class="sg-nav__close js-sg-nav-toggle">Close</span>
    <nav class="sg-nav">
    {{#if library.sections}}
        <ul class="sg-nav__level1">
        {{#each library.sections}}
            <li>
            {{#if link}}
                <span class="sg-nav__level1-title open-sans--semibold">Micro Modules</span>
            {{else}}
                <a href="{{link}}" class="sg-nav__level1-title open-sans--semibold">{{name}}</a>
            {{/if}}
            {{#if children}}
                <ul class="sg-nav__level2">
                {{#each children}}
                    <li><a href="{{link}}">{{name}}</a></li>
                {{/each}}
                </ul>
            </li>
        {{#each library.sections}}
        </ul>
    {{if}}
    </nav>
</div>