<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="Pattern Library">


    <!-- We'll require the same CSS/JS as the main templates, so load that in as a shared partial (also in footer) -->
    {{> head-css }}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{global.settings.cssSrc}}">

    {{> head-js }}

</head>

<body class="sg-body js-sg-body">

    {{> sg-nav }}

    <div class="sg-content-wrap">

        <header class="sg-header">
            <div class="sg-header__inner sg-contain">
                <div class="sg-header__left">
                    <a href="{{global.settings.link}}" class="sg-logo">
                        <img src="{{global.settings.logoSrc}}" alt="Pattern Library Logo">
                    </a>
                </div>
                <div class="sg-header__right">
                    <button type="button" class="sg-nav-open open-sans open-sans--semibold js-sg-nav-toggle">Menu<span class="sg-nav-icon-wrap"><span class="sg-nav-icon"></span></span></button>
                </div>
            </div>
        </header>

        <div class="sg-contain">
            <div class="sg-utility sg-u-cf">
                {{> sg-breadcrumb }}
                {{#if page}}
                    {{> sg-show-all-btn }}
                {{else}}
                    {{#is title "Image Sizes"}}
                        {{> sg-show-all-btn }}
                    {{/is}}
                {{/if}}
            </div>
            {{#block "body"}}
                BODY
            {{/block}}
        </div>

    </div>

    {{> footer-js }}

    <!--[if gte IE 9]><!-->
    <script src="{{global.settings.codeHighlightJsSrc}}"></script>
    <!--<![endif]-->
    <script src="{{global.settings.jsSrc}}"></script>

</body>
</html>
