<div id="{{nameCssCase}}" class="sg-block js-sg-block module-is-collapsed">
    <div class="sg-block__header">
        <h2 class="sg-block__title open-sans open-sans--semibold">{{name}}</h2>
        <span class="sg-block__expand-toggle open-sans js-sg-block__expand-toggle">
            <span class="show-if-collapsed">Show</span>
            <span class="show-if-expanded">Hide</span>
            Code/Annotations
        </span>
    </div>
    <div class="sg-block__content sg-u-cf">
        <div class="sg-block__example sg-u-cf">
            <section {{#if wrapperClasses}}class="{{wrapperClasses}}"{{/if}}>
                {{{html}}}
            </section>
        </div>
        <div class="sg-block__more is-collapsed js-sg-block__more">
            <div class="sg-block__html">
                <h3 class="sg-block__header2 open-sans open-sans--semibold">HTML</h3>
                <pre><code class="language-markup">{{html}}</code></pre>
            </div>
            <div class="sg-block__notes">
                <h3 class="sg-block__header2 open-sans open-sans--semibold">Notes</h3>
                <div class="open-sans">
{{#markdown}}
{{notes}}
{{/markdown}}
                </div>
                {{#if wrapperClasses}}
                    <p>
                        <span class="open-sans open-sans--semibold">Wrapping classes:</span>
                        <span class="open-sans">
                            {{wrapperClasses}}
                        </span>
                    </p>
                {{/if}}
                {{#if references}}
                    <p class="open-sans open-sans--semibold">Appears on:</p>
                    <ul class="open-sans">
                    {{#each references}}
                        <li><a class="sg-link" href="{{link}}" target="_blank">{{name}}</a> ({{type}})</li>
                    {{/each}}
                    </ul>
                {{/if}}
            </div>
        </div>
    </div>
</div>
