<li>
    <h3 class="sg-block__header2 open-sans open-sans--semibold">
        <a class="sg-link" href="{{link}}" target="_blank">{{name}}</a>
    </h3>
    <div class="sg-block__more is-collapsed js-sg-block__more">
        {{#if notes}}
            <div class="sg-block__notes open-sans">
{{#markdown}}{{notes}}{{/markdown}}
            </div>
        {{/if}}
        {{#eachProperty modules}}
            <h4 class="sg-block__header3 open-sans--semibold">{{value.section}}</h4>
            <ul class="sg-block__module-list open-sans">
            {{#each value.items}}
                <li><a class="sg-link" href="{{link}}">{{name}}</a></li>
            {{/each}}
            </ul>
        {{/eachProperty}}
    </div>
</li>
